@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Zalando Sans Expanded", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
    background-color: rgb(18, 18, 18);
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(Sem_titulo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

header {
    /*background-color: rgb(36, 36, 36);*/
    display: flex;
    margin-top: 0;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background: linear-gradient(to bottom, black,transparent);
    /*border: 5px, solid rgb(28, 28, 28);*/
}

.imagem-estrela {
    width: 50px;
    margin: 20px;
    margin-left: 50px;
}

.navsobre ul {
    display: flex;
    list-style: none;
    gap: 25px;
    margin: 10px;
    font-weight: bold;
}

.navsobre a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    transition: 0.2s;
    margin-right: 10px;
}

.navsobre a:hover {
    color: rgb(229, 66, 66);
}

.home {
    margin-right: 45%;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    position: relative;
    margin-top: 0px;

}

.eusou {
    color: white;
    font-size: 30px;
    margin-top: 130px;
    margin-left: 90px;
}

.be {
    background: linear-gradient(to bottom, #af2424, #ff066e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.lorem {
    margin-top: 30px;
    font-size: 24px;
}

.sobre {
    margin: 50vh;
}

.links {
    margin-right: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links img {
    width: 100px;
    border-radius: 10px;
}

.links ul {
    display: flex;
    list-style: none;
    gap: 50px;
}