@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Zalando Sans Expanded", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
    background-color: rgb(18, 18, 18);
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(Sem_titulo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

header {
    /*background-color: rgb(36, 36, 36);*/
    display: flex;
    margin-top: 0;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(to bottom, black,transparent);
    /*border: 5px, solid rgb(28, 28, 28);*/
}

.imagem-estrela {
    width: 50px;
    margin: 20px;
}

.navsobre ul {
    display: flex;
    list-style: none;
    gap: 25px;
    font-weight: bold;
}

.navsobre a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    transition: 0.2s;
}

.navsobre a:hover {
    color: rgb(229, 66, 66);
}

.home {
    margin-right: 45%;
}

.eusou {
    color: white;
    font-size: 15px;
    margin-top: 15%;
    margin-left: 15%    
}

.be {
    background: linear-gradient(to bottom, #af2424, #ff066e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
}

.lorem {    
    font-size: 24px;
}

.navlink ul {
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-right: 45%;
    text-decoration: none;
    margin-top: 2%;
}

.navlink li {
    list-style: none;
}

.links img {
    width: 70px;
    border-radius: 10px;
}